body {
  margin: 0;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.moving-image {
  position: absolute;
  width: 200px; /* Adjust the initial width as needed */
  height: 200px; /* Adjust the initial height as needed */
  animation: none; /* Initially, no animation */
}

@keyframes moveRight {
  0% {
      transform: translate(100%, 0) scale(0.5);
  }
  100% {
      transform: translate(50%, 50vh) scale(0.5);
  }
}

@keyframes moveLeft {
  0% {
      transform: translate(-100%, 0) scale(0.5);
  }
  100% {
      transform: translate(50%, 50vh) scale(0.5);
  }
}